# .vscode/
ABO_imgs_6views/
logs/
misc/
download/
__pycache__/
blender-3.4.1-linux-x64/
Cap3D_automated_Objaverse_allviews.pkl
Cap3D_human_ABO.pkl
Cap3D_human_Objaverse.pkl
blender.zip
demo.ipynb
download.ipynb
eda.ipynb
resources.ipynb
test.ipynb
unzip/